.container {
  max-width: 375px;
  height: 60px;
  background-color: var(--bgc-dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

@media (min-width: 376px) {
  .container {
    max-width: 1200px;
    height: 60px;
    background-color: var(--bgc-dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
  }
}

.container__menu_icon {
  width: 30px;
  position: relative;
}

@media (min-width: 376px) {
  .container__menu_icon {
    display: none;
  }
}

.container__nav_mobile {
  width: 100%;
  height: calc(100vh - 60px);
  position: absolute;
  top: 60px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bgc-dark-blue);
  z-index: 1;
}

.container__ul_mobile {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
}
.li_moible {
  text-align: center;
}

@media (min-width: 376px) {
  .container__nav_mobile,
  .container__ul_mobile,
  .li_mobile {
    display: none;
  }
}

.container__nav_desk {
  width: 25%;
  height: 60px;
  display: flex;
}

@media (max-width: 375px) {
  .container__nav_desk {
    display: none;
  }
}

.container__ul_desk {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
}
.li_desk {
  text-align: center;
}
